*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: var(--bg);
    font-family: var(--primary-font);
    color: var(--text);
    margin: 0;
}
.container {
    width: 95%;
    margin: auto;
    padding: 0px;
}
section{
    height: 100vh;
}
.banner-container {
    width: 87%;
    margin: auto;
    padding: 0px;
}
.nav-container {
    width: 87%;
    margin: auto;
    padding: 0px;
}
.back-home{
    position:absolute;
    top:30px;
    left:20px;
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:var(--primary);
    font-weight:600;
    transition:.3s;
    z-index:1000;
    border: 1px solid var(--primary);
    padding: 10px 20px;
    background-color: var(--primary);
    color: #fff;
    border-radius: 35px;
}

.back-home:hover{
    background-color:var(--primary-dark);
    transform:translateX(-5px);

}
